path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
h1{
    font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	margin-top: 40px;
}
h2{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
    font-weight:normal
}

body{
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}

p{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
}

.storyline-container 
{
    margin: auto 0px;
}

#map{
    text-align: center;
}

.header{
        width: 110%;
        background-color: rgb(63,96,127);
        height: 100px;
        margin-top: -10px;
        margin-left: -10px;
     }

.area{ 
    fill: #f8e5c2;
    stroke: none;
}

.boundary {
    fill: none;
    stroke: #777;
}

.selected {
    fill: #ff7f7f;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

#data_table {
    margin: 0 auto;
    height: 600px;
    width:50%;
    border-collapse:collapse;
}

#data_table th, td {
  font-weight:normal
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}


